* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #4a3f35;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a img {
  width: 70px;
  transition: transform 0.3s ease;
}

.logo a img:hover {
  transform: scale(1.05);
}

.lista ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.lista ul li a {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #f3e9d2;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
  position: relative;
}

.lista ul li a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #f3e9d2;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.lista ul li a:hover::after {
  width: 100%;
}

.lista ul li a:hover {
  color: #d4b27a;
}


@media screen and (max-width: 768px) {
  .barra-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .lista ul {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    margin-top: 1rem;
  }

  .logo {
    align-self: center;
  }
}
